#real-alert {
    display: block;
    border: outset;
}

#real-alert:hover {
  border-bottom: 1px solid;
  background: red;
  color: black;
}

#test-only {
    display: block;
    border: inset;
    color: black;
}

#test-only:hover {
    border-bottom: 1px solid;
    background: green;
    color: white;
  }
  